{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}
    {% include 'layout/sidebar.html.twig' %}

    <div class="myContainer">

        {% include 'notifications/notification.html.twig' %}


        <h2 class="title_women">Mon profil</h2>

        <table class="table">
            <thead class="table_user">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse email</th>
                    <th scope="col">Niveau d'accès</th>
                    <th scole="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.title }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.roles == ['ROLE_ADMIN_GOLD'] %}
                        <td>AdminGold</td>
                    {% elseif user.roles == ['ROLE_ADMIN_SILVER'] %}
                        <td>AdminSilver</td>
                    {% elseif user.roles == ['ROLE_ADMIN_BRONZE'] %}
                        <td>AdminBronze</td>
                    {% endif %}
                    <td>
                        <div class="row">
                            <div class="col">
                                <a class="badge badge-warning" style="color:white" href="{{ path('edit_profil') }}"><i class="fa fa-pencil"></i></a>
                            </div>
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>

{% endblock %}