<div class="onglet-container">
    <span class="span-donnees">Données personnelles</span>
    <span class="span-mensurations">Mensurations</span>
    <span class="span-langues">Langues parlées & Commentaires</span>
    <span class="span-photos">Photos modèles</span>

    {{ form_start(form) }}
        <div class="donnees-personnels">
            <div class="row">
                <div class="col mt-4 ml-4">
                    {{ form_row(form.title) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.date_of_birth) }}
                    {{ form_row(form.phone_number) }}
                    {{ form_row(form.email) }}
                </div>
                <div class="col col-address ml-4">
                    {{ form_row(form.street) }}
                    {{ form_row(form.zip_code) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.country) }}
                </div>
                <div class="col col-image ml-4">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>
        </div>

        <div class="mensurations">
            <div class="row">
                <div class="col col mt-4 ml-4">
                    {{ form_row(form.size) }}
                    {{ form_row(form.chest) }}
                    {{ form_row(form.hips) }}
                    {{ form_row(form.waist_size) }}
                    {{ form_row(form.clothing_size) }}
                    {{ form_row(form.shoes) }}
                </div>
                <div class="col col mt-4 ml-4">
                    {{ form_row(form.hairs) }}
                    {{ form_row(form.eyes) }}
                    {{ form_row(form.face) }}
                    {{ form_row(form.tatoos) }}
                    {{ form_row(form.piercing) }}
                </div>
            </div>
        </div>

        <div class="langues-commentaires">
            <div class="row">
                <div class="col col mt-4 ml-4">
                    {{ form_row(form.native_language) }}
                    {{ form_row(form.second_language) }}
                    {{ form_row(form.third_language) }}
                    {{ form_row(form.fourth_language) }}
                    {{ form_row(form.fifth_language) }}
                </div>
                <div class="col col mt-4 ml-4">
                    {{ form_row(form.comments) }}
                </div>
            </div>
        </div>

        <div class="photos-modele">
            {{ form_row(form.pictureFiles )}}
        </div>
